.hero {
  background-color: var(--background-colour);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover, 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title,
.hero-button {
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-text-colour);
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  /* height: 120px;*/
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  background-color: var(--focus-colour);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  transition: background-color var(--anim-d) var(--anim-t);
}

.hero-button:hover,
.hero-button:focus,
.hero-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-focus-colour);
}
