.portfolio-list-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-colour);
}

.portfolio-list-item-text {
  font-size: var(--seconary-font-size);
  line-height: 1.88;
  color: var(--seconary-colour);
}

.portfolio-list-item {
  background: var(--dark-text-colour);
  transition: color var(--anim-d) var(--anim-t),
    box-shadow var(--anim-d) var(--anim-t);
  flex-basis: var(--flex-x3);
  margin-left: var(--primary-margin);
  margin-top: var(--primary-margin);
}

.portfolio-list-item-link {
  &:hover .overlay-portfolio,
  &:focus .overlay-portfolio {
    transform: translateY(0%);
  }

  &:hover .portfolio-list-box,
  &:focus .portfolio-list-box {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list {
  margin-left: var(--primary-margin-reverse);
  margin-top: var(--primary-margin-reverse);
}

.border-to-image {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: var(--portfolio-list-item-padding);
}

/*overlay*/
.overlay-portfolio {
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--dark-text-colour);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--anim-d) var(--anim-t);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

/*end overlay*/
